<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <div class="col-sm-offset-1">
    <%= f.simple_fields_for :seo_records do |seo_form| %>
        <%= multilang_wrapper(seo_form, :title) { |tf, label| tf.input(:title, label: label) } %>
        <%= multilang_wrapper(seo_form, :description) { |tf, label| tf.input(:description, label: label, as: :text) } %>
        <%= multilang_wrapper(seo_form, :keywords) { |tf, label| tf.input(:keywords, label: label) } %>
        <%= multilang_wrapper(seo_form, :seo_text) { |tf, label| tf.input(:seo_text, label:label, as: :text) } %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>